<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height2">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               Dịch vụ của chúng tôi
            </span>
         </div>
      </div>
   </div>
   <!-- End Slider -->

   <!-- Start Content -->
   <div class="content-section">
      <div class="service__list-option">
         <div class="grid wide">
            <div class="row">
               <ul class="service__list">
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#spa">
                        <figure>
                           <img src="https://i.pinimg.com/564x/0e/f7/66/0ef766dc8291d6ac12cc64f8f54c90c9.jpg" alt="spa">
                        </figure>
                     </a>
                     <p class="service__list_name">Spa</p>
                  </li>
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#Bar">
                        <figure>
                           <img src="https://i.pinimg.com/564x/2b/eb/c9/2bebc9a95e2a4bbe4dc54e7da03ea98d.jpg" alt="Bar">
                        </figure>
                     </a>
                     <p class="service__list_name">Nhà hàng</p>
                  </li>
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#Restaurant">
                        <figure>
                           <img src="https://i.pinimg.com/564x/d5/56/8f/d5568f3bcc76c7a22f09d254d971b312.jpg" alt="spa">
                        </figure>
                     </a>
                     <p class="service__list_name">Giặt ủi</p>
                  </li>
               </ul>
            </div>
         </div>
         <div class="grid wide">
             <div class="row service-row">
               <div class="col l-4 m-12 c-12">
                  <div class="service__item-image">
                     <img class="service__item-image-img" src="https://i.pinimg.com/564x/0e/f7/66/0ef766dc8291d6ac12cc64f8f54c90c9.jpg" alt="spa">
                  </div>
               </div>

               <div class="col l-8 m-12 c-12">
                  <div class="service__item-details">
                     <p class="service__item-name" id="spa">Spa</p>
                     <p class="service__item-desc">
                        "Spa là một dịch vụ không thể thiếu đi kèm theo những khách sạn nghĩ dưỡng, giúp khách hàng tận hượng trọn vẹn kỳ nghĩ của mình.
                         Với dịch vụ chất lượng nhưng mức giá đảm bảo mức độ cạnh tranh và mang xu hướng đem tới cho khách hàng những trải nghiệm tuyệt vời nhất."
                     </p>
                  </div>
               </div>
            </div>

             <div class="row row-reverse service-row">
               <div class="col l-4 m-12 c-12">
                   <div class="service__item-image">
                     <img class="service__item-image-img" src="https://i.pinimg.com/564x/2b/eb/c9/2bebc9a95e2a4bbe4dc54e7da03ea98d.jpg" alt="spa">
                  </div>
               </div>

               <div class="col l-8 m-12 c-12">
                  <div class="service__item-details">
                     <p class="service__item-name" id="restaurant">Nhà hàng</p>
                     <p class="service__item-desc">"Nhà hàng phục vụ bữa sáng được tích hợp vào hệ thống khách sạn để mang lại dịch vụ tốt nhất  .Khu vực nhà hàng sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành
                        phố Hồ
                        Chí
                        Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng
                        tự
                        chọn
                        phong phú."
                     </p>
                  </div>
               </div>
            </div>

             <div class="row service-row">
               <div class="col l-4 m-12 c-12">
                   <div class="service__item-image">
                     <img class="service__item-image-img" src="https://i.pinimg.com/564x/d5/56/8f/d5568f3bcc76c7a22f09d254d971b312.jpg">
                  </div>
               </div>

               <div class="col l-8 m-12 c-12">
                  <div class="service__item-details">
                     <p class="service__item-name" id="giatui">Giặt ủi</p>
                     <p class="service__item-desc">
                        "Khách hàng sẻ không phải lo về việc làm thế nào để cất giữ quần áo qua sử dụng và khiến quần áo dễ bị hư hỏng vì khách sạn có một hệ thống giặt ủi siêu tiện lợi, nhanh chóng. Bạn chỉ cần đặt mọi việc sẻ có nhân viên bộ phận giặt ủi đến laaysvaf hoàn trả tận phòng."
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- End Content -->