<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height2">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               DỊCH VỤ CỦA CHÚNG TÔI
            </span>
         </div>
      </div>
   </div>
   <!-- End Slider -->

   <!-- Start Content -->
   <div class="content-section">
      <div class="service__list-option">
         <div class="grid wide">
            <div class="row">
               <ul class="service__list">
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#spa">
                        <figure>
                           <img src="https://i.pinimg.com/236x/9f/3e/98/9f3e987e49a27f81f04e02a7c6bc9f16.jpg" alt="spa">
                        </figure>
                     </a>
                     <p class="service__list_name">Spa</p>
                  </li>
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#Bar">
                        <figure>
                           <img src="https://i.pinimg.com/236x/7a/0c/37/7a0c370d522ba51cba0805b679743cbc.jpg" alt="Bar">
                        </figure>
                     </a>
                     <p class="service__list_name">Bar</p>
                  </li>
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#Restaurant">
                        <figure>
                           <img src="https://i.pinimg.com/236x/18/29/9a/18299af36fb9eeacc0258db78e06ba59.jpg" alt="spa">
                        </figure>
                     </a>
                     <p class="service__list_name">Nhà hàng</p>
                  </li>
               </ul>
            </div>
         </div>
         <div class="grid wide">
             <div class="row service-row">
               <div class="col l-4 m-12 c-12">
                  <div class="service__item-image">
                     <img class="service__item-image-img" src="https://i.pinimg.com/236x/9f/3e/98/9f3e987e49a27f81f04e02a7c6bc9f16.jpg" alt="spa">
                  </div>
               </div>

               <div class="col l-8 m-12 c-12">
                  <div class="service__item-details">
                     <p class="service__item-name">Spa</p>
                     <p class="service__item-desc">Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành
                        phố Hồ
                        Chí
                        Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng
                        tự
                        chọn
                        phong phú Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh
                        đẹp,
                        mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong
                        phú.
                     </p>
                  </div>
               </div>
            </div>

             <div class="row row-reverse service-row">
               <div class="col l-4 m-12 c-12">
                   <div class="service__item-image">
                     <img class="service__item-image-img" src="https://i.pinimg.com/564x/b6/3c/0e/b63c0e60b211585f59856cd8b0e90524.jpg" alt="spa">
                  </div>
               </div>

               <div class="col l-8 m-12 c-12">
                  <div class="service__item-details">
                     <p class="service__item-name">Restaurant</p>
                     <p class="service__item-desc">Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành
                        phố Hồ
                        Chí
                        Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng
                        tự
                        chọn
                        phong phú Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh
                        đẹp,
                        mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong
                        phú.
                     </p>
                  </div>
               </div>
            </div>

             <div class="row service-row">
               <div class="col l-4 m-12 c-12">
                   <div class="service__item-image">
                     <img class="service__item-image-img" src="https://i.pinimg.com/564x/b6/3c/0e/b63c0e60b211585f59856cd8b0e90524.jpg" alt="spa">
                  </div>
               </div>

               <div class="col l-8 m-12 c-12">
                  <div class="service__item-details">
                     <p class="service__item-name">Spa</p>
                     <p class="service__item-desc">Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành
                        phố Hồ
                        Chí
                        Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng
                        tự
                        chọn
                        phong phú Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh
                        đẹp,
                        mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong
                        phú.
                     </p>
                  </div>
               </div>
            </div>


         </div>
      </div>
   </div>
   </div>
   <!-- End Content -->