<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height2">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               Gửi phản hồi cho chúng tôi
            </span>
         </div>
      </div>
   </div>
   <!-- End Slider -->

   <!-- Start Content -->
   <div class="feedback-content-section">
      <div class="grid wide">
         <div class="row feedback-row">
            <div class="col l-7 m-12 c-12">
               <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4602949163154!2d106.66517611462248!3d10.776014692321795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3ae5901877%3A0x42c37972de865906!2zODI4IFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1645944195830!5m2!1sen!2s"
                  allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="col l-5 m-12 c-12">
               <div class="feedback-rightside">
                  <h4>Gửi phản hồi</h4>
                   {{#if message}}
                     <div style="text-align: center" class="alert alert-{{message.type}}">
                        <strong>{{message.intro}}</strong> {{message.message}}
                     </div>
                  {{/if}}
                 <form method="POST" action="/feedback" name="contact">
                              <div class="feedback__form-item">
                                 <label for="feedback_name">Tên</label>
                                <input class="form-input" type="text" placeholder="Họ và tên" name="tenKH" id="tenKH"
                                pattern="^[a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\W|_]+$"
                                required />
                                 <!-- <span class="feedback__form-message">Yêu cầu điền đầy đủ học tên!</span> -->
                              </div>
                              <div class="feedback__form-item">
                                 <label for="feedback_name">E-mail</label>
                                 <input class="form-input" type="email" name="sdtKH" id="sdtKH" placeholder=" Nhập địa chỉ email của bạn *">
                                 <!-- <span class="feedback__form-message">E-mai không được bỏ trống!</span> -->
                              </div>
                              <div class="feedback__form-item">
                                 <label for="feedback_name">Nội dung phản hồi</label>
                                 <textarea class="form-textarea" type="text" cols="30" rows="10" name="contentFB" id="contentFB" placeholder=" Nhập ý kiến phản hồi *"></textarea>
                                 <!-- <span class="feedback__form-message">Nội dung phản hồi không được bỏ trống!</span> -->
                              </div>
                              <div class="feedback__form-item">
                                    <button class="btn btn--size-s" type="submit" >GỬI PHẢN HỒI</button>
                                 <!-- <input value="GỬI PHẢN HỒI" type="submit" id="feedback-submit" placeholder=" Nhập nội dung phản hồi *"> -->
                              </div>
                        </form>
               </div>
            </div>
         </div>


      </div>
   </div>
   <!-- End Content -->