<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height1">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               Tận hưởng những phút giây thư giãn
            </span>

            <div class="slider-btn">
               <a class="btn btn--size-lg" href="">ĐẶT PHÒNG NGAY</a>
            </div>

         </div>
      </div>
   </div>
   <!-- End Slider -->

   <!-- Start support hotel area -->
   <div class="content-section">
      <div class="support-hotel-area">
         <div class="grid wide">
            <div class="row">
               <div class="col l-4 m-0 c-0">
                  <div class="support-location-img-left">
                     <img class="location-img"
                        src="https://designlimitededition.com/wp-content/uploads/2019/07/A-Boutique-Hotel-In-Porto-Brings-You-The-Country%E2%80%99s-History-1.jpg"
                        alt="">
                  </div>
               </div>
               <div class="col l-4 m-6 c-12">
                  <div class="support-location-content">
                     <span class="content-title">
                        Luxury & Comfort Our services and wonders of Prague
                     </span>

                     <p class="content-text">
                        The concept and service of the best luxury hotels in Asturias in our sophisticated Urban
                        Double and Unique Junior Suite rooms, with the possibility of enjoying a furnished terrace
                        in
                        our Double Urban Loft and Unique Junior Loft Suite.
                     </p>

                  </div>
               </div>

               <div class="col l-4 m-6 c-12">
                  <div class="support-location-img-right">
                     <img class="location-img"
                        src="https://www.torel1884.com/media/torel-1884-imageLinkservices-content-block-bistro.jpg"
                        alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End support hotel area -->

      <div class="hot-room-area">
         <div class="grid wide">
            <div class="hot-room-desc">
               <span class="content-title">
                  Các phòng của Parallel Shine
               </span>

               <p class="content-text">
                  The concept and service of the best luxury <br>
                  hotels in Asturias in our sophisticated.
               </p>
            </div>
            <div class="row">
               <div class="col l-4 m-12 c-12">
                  <a href="" class="room-link">
                     <div class="room-card">
                        <div class="room-img-container"
                           style="background-image:url(https://vnn-imgs-f.vgcloud.vn/2020/10/16/17/the-dark-future-of-hotels-on-golden-land-in-hanoi-600x400.jpg);">
                        </div>

                        <div class="room-info">
                           <span class="room-type">Phòng Deluxe</span>
                           <p class="room-people">2 người lớn, 1 trẻ em</p>
                           <div class="room-value">
                              <span class="room-price">1,000,000</span>
                              <i class="fa-solid fa-dong-sign"></i>
                              <!-- <p class="room-price-per">per night</p> -->
                           </div>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="col l-4 m-12 c-12">
                  <a href="" class="room-link">
                     <div class="room-card">
                        <div class="room-img-container"
                           style="background-image:url(https://vnn-imgs-f.vgcloud.vn/2020/10/16/17/the-dark-future-of-hotels-on-golden-land-in-hanoi-600x400.jpg);">
                        </div>

                        <div class="room-info">
                           <span class="room-type">Phòng Deluxe</span>
                           <p class="room-people">2 người lớn, 1 trẻ em</p>
                           <div class="room-value">
                              <span class="room-price">1,000,000</span>
                              <i class="fa-solid fa-dong-sign"></i>
                              <!-- <p class="room-price-per">per night</p> -->
                           </div>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="col l-4 m-12 c-12">
                  <a href="" class="room-link">
                     <div class="room-card">
                        <div class="room-img-container"
                           style="background-image:url(https://vnn-imgs-f.vgcloud.vn/2020/10/16/17/the-dark-future-of-hotels-on-golden-land-in-hanoi-600x400.jpg);">
                        </div>

                        <div class="room-info">
                           <span class="room-type">Phòng Deluxe</span>
                           <p class="room-people">2 người lớn, 1 trẻ em</p>
                           <div class="room-value">
                              <span class="room-price">1,000,000</span>
                              <i class="fa-solid fa-dong-sign"></i>
                              <!-- <p class="room-price-per">per night</p> -->
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>

      <div class="hot-service-area">
         <div class="grid wide">
            <div class="hot-service-desc">
               <span class="content-title">
                  Dịch vụ của Parallel Shine
               </span>

               <p class="content-text">
                  The concept and service of the best luxury <br>
                  hotels in Asturias in our sophisticated.
               </p>
            </div>

            <div class="service-list">
               <div class="row">
                   <div class="col l-4 m-12 c-12">
                     <a href="">
                        <div class="service-img-container"
                           style="background-image: url(https://i.pinimg.com/236x/ce/0a/fb/ce0afb23a19a0de0341b3dc94c0343b9.jpg);">
                           <div class="hot-service-text">Spa</div>
                        </div>
                     </a>
                  </div>
                  
                  <div class="col l-4 m-12 c-12">
                     <a href="">
                        <div class="service-img-container"
                           style="background-image: url(https://i.pinimg.com/564x/a5/9d/bf/a59dbf0103b5d6e1feeb209262977023.jpg);">
                           <div class="hot-service-text">Ăn uống</div>
                        </div>
                     </a>
                  </div>

                 

                  <div class="col l-4 m-12 c-12">
                     <a href="">
                        <div class="service-img-container"
                           style="background-image: url(https://i.pinimg.com/236x/8a/6f/05/8a6f051359b8630bc3146009d92dc1f6.jpg);">
                           <div class="hot-service-text">Giặt ủi</div>
                        </div>
                     </a>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</main>

<!-- End main -->