<div class="main">
         <div class="header">
            <div class="menu-mobile">
               <label for="nav-mobile-input">
                  <i class="fa-solid fa-bars"></i>
               </label>
            </div>

            <div class="user-avatar">
               <div class="user-img-container">
                  <img src="https://demo.dashboardpack.com/cryptocurrency-html/img/transfer/4.png" alt=""
                     class="user-img">
               </div>
               <div class="user-info">
                  <p class="user-name">User Name</p>
                  <p class="user-role">User Role</p>
               </div>

               <div class="user-function">
                  <a href="" class="function-item">Log Out</a>
               </div>
            </div>
         </div>

         <div class="content">
            <div class="grid">
               <p class="page-title">Tạo phòng mới</p>
               <div class="table-list-container">
                  <form method="POST" action="/admin/room/add/store">
                     <div class="row">
                        <div class="col l-6 m-6 c-12">
                           <label for="room-number" class="form-label">Số phòng</label>
                           <input name="r_number" id="room-number" type="text" class="form-input" placeholder="SP101">
                        </div>

                        <div class="col l-6 m-6 c-12">
                           <label for="room-name" class="form-label">Tên phòng</label>
                           <input name="r_name" id="room-name" type="text" class="form-input" placeholder="Single - Standard">
                        </div>
                     </div>

                     <div class="row">
                        <div class="col l-3 m-3 c-12">
                           <label for="room-img" class="form-label">Hình ảnh</label>
                           <input name="r_img.thumbnail" id="room-img" type="text" class="form-input" placeholder="link url">
                        </div>

                        <div class="col l-3 m-3 c-12">
                           <label for="room-type" class="form-label">Loại phòng</label>
                           <input name="r_type" id="room-type" type="text" class="form-input" placeholder="Standard">
                        </div>

                        <div class="col l-3 m-3 c-12">
                           <label for="room-people" class="form-label">Số người tối đa</label>
                           <input name="r_people" id="room-people" type="number" min="0" class="form-input" placeholder="4">
                        </div>

                        <div class="col l-3 m-3 c-12">
                           <label for="room-people" class="form-label">Trạng thái phòng</label>
                           <input name="r_status" id="room-people" type="text" class="form-input" placeholder="còn trống">
                        </div>
                     </div>

                     <div class="row">
                        <div class="col l-6 m-6 c-6">
                           <label for="room-price" class="form-label">Loại giường</label>
                           <input name="r_bed" id="room-price" type="text" class="form-input" placeholder="King">
                        </div>

                        <div class="col l-6 m-6 c-6">
                           <label for="room-people" class="form-label">Giá phòng</label>
                           <input name="r_price" id="room-people" type="number"  class="form-input" placeholder="1,000,000">
                        </div>
                     </div>

                     <div class="row no-gutters">
                        <div class="col l-12 m-12 c-12">
                           <div class="col l-12 m-12 c-12">
                              <label class="form-label">Miêu tả phòng</label>
                           </div>
                           <div class="col l-12 m-12 c-12">
                              <textarea name="r_desc" id="" class="form-textarea"
                                 placeholder="Nhập miêu tả tại đây..."></textarea>
                           </div>
                        </div>
                     </div>

                     <div class="row no-gutters submit-btn-container">
                        <button type="submit" class="status-btn submit-btn">Lưu thông tin</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>