/* Header - navbar */
.wrapper {
   overflow: hidden;
}

.header-container {
   position: relative;
   width: 100%;
}

.header-top {
   background-color: var(--primary-color);
   padding: 13px 38px;
}
.header-top .header-top__container {
   color: var(--white-color);
}
.header-top .header-info-left {
   display: flex;
   align-items: center;
   list-style: none;
   font-size: 1.3rem;
}
.header-top .header-info-item {
   margin-right: 12px;
}

.header-info-item .info-link {
   color: var(--white-color);
   text-decoration: none;
}

.info-link-icon {
   margin-right: 4px;
}

.header-bottom {
   position: relative;
   overflow: hidden;
}

.header-bottom .header__navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px 80px;
   border-bottom: 1px solid rgba(255,255,255,0.3);
}

.logo-links {
   color: var(--white-color);
   text-decoration: none;
}


.header__list {
   display: flex;
   align-items: center;
   list-style-type: none;
}

.header__list a {
   text-decoration: none;
   color: var(--white-color); 
}

.header__nav-item {
   display: inline-flex;
   align-items: center;
   margin-right: 40px;
}

.nav-item-link,
.mobile-bar {
   font-size: 1.6rem;
   color: var(--white-color);
}

.mobile-bar {
   padding: 0 20px;
   font-size: 2.9rem;
   cursor: pointer;
}

.nav-item-icon {
   font-size: 2.8rem;
   padding: 0 20px;
   /* margin-right: 22px; */
}

.mobile-bar {
   display: none;
}

.header__nav-btn {
   display: flex;
   align-items: center;
   position: absolute;
   right: 0;
   top: 0;
   padding: 36px 20px 36px 0;
}

/* SLOGAN CONTENT */
.header__welcome-container {
   position: absolute;
   bottom: 35%;
   right: 0;
   left: 0;
   text-align: center;
   color: var(--white-color);
}

.welcome-title {
   font-size: 2.0rem;
   margin-bottom: 50px;
}

/* Main section */
/* .content-section {
   background-color: var(--white-color);
} */

/* SLIDER */
.slider-area {
  position: relative;
}

.slider-height1 {
   min-height: 715px;
}

.slider-height2 {
   min-height: 400px;
}

.bg-img1 {
   background-image: url('../img/hotel_background.jpg');
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}

.bg-overly {
   position: relative;
   z-index: 0;
}

.bg-overly::before {
   content: "";
   background: rgba(0, 0, 0 ,0.65); 
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -1;
}

.slider-area .slider-slogan {
   display: flex;
   flex-direction: column;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 50%;
   text-align: center;
}

.slider-area .slider-slogan-text {
   font-size: 4rem;
   font-weight: 400;
   color: var(--white-color);
}

.slider-area .slider-btn {
   margin-top: 50px;
}

/* Support Hotel Area */
.support-hotel-area,
.content-container {
   padding: 120px 0;
   background-color: var(--white-color);
  
}

.support-hotel-area .location-img {
   width: 100%;
   border-radius: 4px;
}

.support-hotel-area .support-location-img-right {
   text-align: center;
}

.support-hotel-area .support-location-content {
   padding: 0 30px;
}

.content-title {
   font-size: 3.8rem;
   font-weight: 300;
}

.content-text {
   color: #656565;
   margin-top: 6px;
   line-height: 1.8;
   font-size: 1.4rem;
   text-align: left;
}

/* Hot room area */
.hot-room-area {
   padding: 120px 0;
   background-color: #F9F8F8;
}

.room-list {
   display: flex;
   margin-top: 30px;
}

.room-link {
   text-decoration: none;
   color: #000;
}

.room-card {
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 4px 4px 10px #ccc;
   margin-bottom: 35px;
   transition: transform linear 0.2s;
}

.room-card:hover {
   transform: translateY(-2%);
   box-shadow: 4px 8px 10px #ccc;

}


.room-img-container {
   width: 100%;
   background-position:center;
   background-size:cover;
   background-repeat: no-repeat;
   padding-top: 80%;
   min-height: 200px;
   overflow: hidden;
}

.room-img {
   width: 100%;
}

.room-info {
   text-align: center;
   padding: 20px;
}

.room-type,
.room-price {
   font-size: 2.2rem;
   font-weight: 400;
}

.room-value {
   display: flex;
   justify-content: center;
   align-items: center;
}

.room-price {
   color: var(--second-color);
}

.room-value > i {
   font-size: 1.6rem;
   color: var(--second-color);

}

.room-people {
   margin: 12px 0;
}

.room-people,
.room-price-per {
   font-size: 1.5rem;
   color: #656565;
}

/* Service area */
.hot-service-area {
   padding-top: 120px;
   padding-bottom: 300px;
   background-color: var(--white-color);
}

.hot-service-desc,
.hot-service-desc p {
   text-align: center;
}

.hot-service-area .service-list {
   margin-top: 30px;
}

.hot-service-area .service-img-container {
   position: relative;
   padding-top: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   border-radius: 8px;
   overflow: hidden;
   height: 250px;
   margin-bottom: 10px;
   box-shadow: 3px 3px 8px #999;
   transition: background-size linear 0.3s;
   
}

.hot-service-area .service-img-container:hover {
   background-size: 120%;
}

.service-card {
   display: flex;
}


.service-img-container::before {
   content: "";
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0 ,0.4);
}

.hot-service-area .hot-service-text {
   position: absolute;
   text-align: center;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   right: 0;
   font-size: 2.6rem;
   color: var(--white-color);
   cursor: pointer;
}

/* Form control */

.form .form-heading {
   text-align: center;
   font-weight: 500;
   font-size: 2.6rem;
   color: var(--second-color);
}

.form .form-desc {
   text-align: center;
   color: var(--text-light-color);
   margin-top: 16px;
   font-size: 1.4rem;
}

.form-group {
   display: flex;
   flex-direction: column;
   margin-top: 32px;
}

.form-label {
   font-size: 1.6rem;
   font-weight: 400;
   text-align: left;
}

.form-input {
   height: 48px;
   margin-top: 10px;
   padding: 10px 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   outline: none;
   font-size: 1.4rem;
   width: 100%;
}

.login-btn {
   margin: 50px 0 10px 0;
}

.form-msg {
   display: none;
   font-size: 1.3rem;
   margin-top: 8px;
   text-align: right;
   color: #cd2828;
}

.login-area {
   background-color: var(--white-color);
   padding: 50px 0;
}

/* Footer area */
.footer-section {
   /* height: 260px; */
   padding-top: 120px;
   padding-bottom: 40px;
   background-color: var(--primary-color);
}
.footer__container {
   color: var(--white-color);
}

.footer-content {
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}

.info-item {
   display: flex;
   padding: 10px 0;
   font-size: 1.6rem;
   list-style: none;
}

.info-item-text {
   margin-left: 16px;
}

.footer-socials {
   padding: 10px 0;
   margin-right: 160px;
}

.socials-title {
   font-size: 1.6rem;
   margin-bottom: 8px;
}

.socials-list {
   font-size: 30px;
}

.social-item {
   color: var(--white-color);
}

.social-item:hover {
   opacity: 0.6;
}

.footer-section .copyright {
   margin-top: 100px;
   text-align: center;
   font-size: 1.4rem;
}

/* Room searching class */
.room-filter-none {
   display: none !important;
}

/* BILL */
.qty-input {
   max-width: 40px;
   border: 1px solid var(--second-color);
   /* border-top: 1px solid var(--second-color); */
   outline: none;
   font-size: 1.6rem;
   text-align: center;
   padding: 4px;
}



