/* phần Ngân */

/* leftside */
.content-title {
    text-align: center;
    margin-bottom: 20px;
}

.date-checkin {
   margin-bottom: 10px;
}

.room-categories {
   font-size: 1.6rem;
}

.room-categories-item {
   display: flex;
   padding: 16px 2px;
   justify-content: space-between; 
   cursor: pointer;  
}

.room-categories-item span {
   font-size: 1.8rem;
   font-weight: 500;
}

.room-categories-detail {
   display: flex;
   overflow: hidden;
   max-height: 0;
   transition: max-height 0.2s ease-in-out;
   flex-direction: column;
}

.room-categories-detail a {
   display: block;
   padding:16px 0;
   text-decoration: none;
   color: var(--black-color);
   border-bottom: 1px solid #d3b69a;
}

.room-categories-detail a:hover {
  font-weight: 600;
  cursor: pointer;
}

.room-categories-item:hover, room-categories-item.is-open {
   font-weight: 600;
}


/* rightside */
.search-room {
   margin-bottom: 50px;
}
.input-with-icon-container {
   display: flex;
   justify-content: space-between;
   border-radius: 3px;
   border: 1px solid #ccc; 
   padding: 12px 10px;
}


.search-bar-input {
    border: none;
    outline: none;
    width: 80%;
    height: 100%;
    font-size: 1.6rem;
}

.check-in-icon {
   font-size: 1.8rem;
}


.search-bar-icon {
    font-size: 1.8rem;
}


 /* Chi tiết phòng */

.room-detail-btn {
   text-align: center;
}

.btn-booking-detail {
   margin-top: 16px;
   height: 50px;
}

.btn-booking-detail a{
   height: x;
   display: block;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 10px;
}
 
.booking-detail-description{
   margin-left: 30px;
   margin-right: 30px;
   /* font-size: 2.2rem; */
}

.booking-detail-description p{
   padding: 10px 13px;
}
 
.booking-detail-description-name{
   font-size: 2.6rem;
   color: var(--second-color);
   font-weight: 600;
}

.booking-detail-description-price{
   font-size: 2.6rem;
   color: var(--second-color);
   font-weight: 600;
}

.booking-detail-description-content{
   font-size: 2.2rem;
}

.booking-detail-description-note{
   font-size: 2.2rem;
   color: gray;
}

 /* Trang chi tiết đặt phòng */
   /* #total {
      margin: 0;
      padding: 0;
      font-size: 2.4rem;
      font-weight: 600;
      border: none;
      width: 135px;
      text-align: center;
   } */

   #title-total{
      padding-top: 10px;
   }

 .booking-room-head{
    display: flex;
 }
 
 .booking-room-pic{
   margin-bottom: 30px;
 }
 
 .booking-room-pic img {
    width: 550px;
    height: 500px;
 }
 
 .booking-room-description{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 2.2rem;
 }
 
 .booking-room-description p{
    padding: 12px 16px;
 }

 .room-detail-description-name, .room-detail-description-price {
    font-size: 2.4rem;
    color: var(--second-color);
    font-weight: 600;
 }

 .room-detail-description-note {
    font-size: 1.8rem;
    color: gray;
 }

 .room-detail-description-btn{
   padding: 12px 16px;
 }
 
.booking-room-title {
   text-align: center;
   margin: 30px 0 00;
}

 .title-item {
    font-size: 2.8rem;
    font-weight: 400;
 }

.container-form-input-pay {
   display: flex;
   justify-content: space-between;
}

 .form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* flex-direction: column; */
 }
 
 .small-form {
    width: 70%;
    margin: auto;
 }
 /* phần mã khuyến mãi */
 hr {
    margin: 30px 0;
 }

 .form-row{
    padding: 30px 0;
    display: flex;
   
 }
 .form-label{
    min-width: 212px;
    padding: 10px 5px;
    font-size: 1.8rem;
   
 }
 
 .form-input-end{
    /* flex: 1; */
    padding: 10px 10px;
    font-size: 1.8rem;
    border-radius: 5px;
 }
 
 .form-label-pay {
    min-width: 212px;
    padding: 10px 5px;
    font-size: 1.8rem;
 }
 
 .form-input-pay {
   margin: 15px 10px;
  
 }
 
 .total-money {
    display: flex;
    justify-content: space-between;
    font-size: 2.0rem;
    font-weight: 600;
    margin: 30px 0;
 }
 
 .button-confirm {
    display: flex;
 }
 
 .booking-room-button-confirm {
    height: 36px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    outline: none;
    width: 90%;
    margin: 10px 64px;
    
 }

 /* icon success */
 .icon-booking-success {
   font-size: 50px;
   color: rgb(66, 170, 66);
   margin-bottom: 20px;
}
.form-input-success {
   background-color: rgb(192, 189, 189);
   width: 100%;
}

.booking-input{
   width: 100%;
}

/* modal delete */
.modal{
   background: rgba(0 0 0 /43%);
   position: fixed;
   top: 0;
   height: 100vh;
   width: 100vw;
   opacity: 0;
   pointer-events: none;
   
}

.modal.show{
   opacity: 1;
   pointer-events: auto;
}
.modalContent{
   width: 400px;
   position: relative;
   top: 5%;
   margin: auto;
   background: var(--white-color);
   box-shadow: 2px 5px 5px gray;
   border-radius: 5px;
   overflow: hidden;
}

.modal-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   background: var(--primary-color);
   color: var(--white-color);
   font-size: 1.6rem;
   font-family: 'Roboto', sans-serif;
}
.modal-content{
   padding: 15px;
   font-size: 1.6rem;
   font-family: 'Roboto', sans-serif;
}
.modal-footer{
   text-align: right;
   padding: 15px;
   
}

.del, .cancel {
   display: inline-block;
   text-align: center;
   color: var(--white-color);
   background-color: rgb(56, 72, 80);
   min-width: 90px;
   font-size: 1.4rem;
   padding: 8px 10px;
   border-radius: 3px;
   cursor: pointer;  
   border: none;
}
.del {
   margin-right: 8px;
}

.del:hover {
   transform: translateY(1px);
   background-color: var(--second-color);
}

.cancel:hover {
   transform: translateY(1px);
   background-color: var(--second-color);
}

.price-room {
   /* position: relative; */
   display: flex;
}

.price-room i{
   padding: 12px 16px 12px 0;
}