/* Media query */

/* special screen */
@media (max-width: 81.1875em) {
   /* Trang chi tiet phong */
   .booking-detail-description-content{
      font-size: 2.0rem;
   }

   .booking-detail-description-note{
      font-size: 2.0rem;
   }
   /* Trang chi tiết đặt phòng */
   
   .booking-room-head{
      justify-content: center;
   }

   .booking-room-pic img {
      width: 450px;
      height: 400px;   
   }

   .booking-room-description {
      width: 400px;
      height: 400px;
      max-width: 100%;
   }
   
   .room-detail-description-name {
      font-size: 2.6rem;
   }
   .room-detail-description-price {
      font-size: 2.4rem;
   }

   .room-detail-description-content {
      font-size: 1.8rem;
   }

   .room-detail-description-note {
      font-size: 1.4rem;
   }

   .title-item {
      font-size: 2.6rem;    
  }
  /* Trang chi tiết phòng */

   .room-detail {
      justify-content: space-between;
   }
  
   .main-pic img {
     width: 100%;
     height: 40%;
   }
   
   .sub-pic {
      margin: 10px 10px;
   }
   
   .sub-pic img {
      width: 90px;
      height: 90px;
   }
   
   .booking-room {
      /* margin: auto 0; */
   }

   .room-detail-description {
      margin: 10px 28px;
   }

   .feedback-all {
      flex-direction: column;
      align-items: center;
   }

   .feedback-all .wrap{
      width: 700px;
   }

   .form-textarea{
      max-width: 100%;
   }
   

/* PC */
@media (min-width: 64em) {
  

}  

/* Tablet & mobile */
@media (max-width: 63.9375em) {
   .grid {
      padding: 0 46px;
   }

   .header__list {
      background-color: rgba(255, 255, 255, 0.3);
      width: 100%;
      display: block;
      position: absolute;
      right: 0;
      top: 100%;
      text-align: right;
      padding: 16px 20px 20px 0;
      z-index: 1;
   }

   .header__nav-item {
      display: block;
      padding: 10px;
      margin: 0;
   }

   .mobile-bar {
      display: block;
   }

   .slider-area .slider-slogan {
      bottom: 45%;
   }

   .booking-room-head{
      flex-direction: column;
      margin: auto;
   }

   .booking-room-pic img {
      width: 550px;
      height: 550px;   
   }

   .booking-room-pic {
     margin: 0 auto;
   }

   .booking-room-description {
      width: 586px;
      height: 450px;
      max-width: 100%;
      margin: 0 auto;
   }

   .room-detail-description-name {
      font-size: 3.2rem;
   }
   .room-detail-description-price {
      font-size: 2.8rem;
   }
   .room-detail-description-content {
      font-size: 2.2rem;
   }
   .room-detail-description-note {
      font-size: 1.8rem;
   }

   .title-item {
      font-size: 3.0rem;
  }

   .service__list-item{
      margin-bottom: 50px;
   }

   .service__list {
      display: flex;
      flex-wrap:wrap;
   }

   .feedback-rightside {
      margin-top: 20px;
   }

   /* .price-room {
      position: relative;
      }
   
      .price-room i{
         position: absolute;
         top: 13px;
         left: 141px;
      } */
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

     /* Trang booking room phần Ngân */
   .container-form-input-pay {
      flex-direction: column;
   }

   .form-group-row{
      flex-direction: column;
      
   }

   .padding-left-10, .padding-right-10{
      width: 100%;
   }
    /* Trang chi tiết phòng phần Ngân */

  .main-pic img {
      width: 300px;
      height: 300px;
   }
   
   .sub-pic img {
      margin: 10px 20px;
   }

   .booking-room {
      margin: auto;
   }
   /* Trang danh sách phòng phần Ngân */
   

}

/* Mobile and Smaller */
@media (max-width: 46.1875em) {
   .grid-sm {
      padding: 0 10px !important;
   }

   .hot-room-desc,
   .hot-room-desc p {
      text-align: center;
   }

   .room-list,
   .service-list {
      flex-direction: column;
      align-items: center;
   }

   .hot-service-area {
      padding-top: 120px;
      padding-bottom: 200px;
   }
   
   .hot-service-area .service-img-container {
      height: 200px;
   }

   .room-img-container {
      min-height: 100px !important;
   }

   /* Footer */
   .footer-content {
      flex-direction: column;
   }

   .footer-socials,
   .footer-info {
      width: 100%;
      margin: 0 !important;
   }
   
   .footer-socials {
      margin-top: 30px !important;
      text-align: left;
   }
  
    /* Trang chi tiết đặt phòng phần Ngân */

    .booking-room-pic img {
      width: 300px;
      height: 300px;   
   }  
   .booking-room-description {
      width: 280px;
      height: 450px;
      max-width: 100%;
      margin: 0 auto;
   }

   .room-detail-description-name {
      font-size: 1.8rem;
   }
   .room-detail-description-price {
      font-size: 1.8rem;
   }
   .room-detail-description-content {
      font-size: 1.6rem;
   }
   .room-detail-description-note {
      font-size: 1.4rem;
   }

   .title-item {
      font-size: 2.2rem;
  }

  /* .price-room {
   position: relative;
   }

   .price-room i{
      position: absolute;
      top: 13px;
      left: 95px;
   } */
   .container-form-input-pay {
      flex-direction: column;
   }
   
   .form-group-row{
      flex-direction: column;   
   }

   .padding-left-10 {
      /* padding-left: 0px; */
      width: 100%;
  }

  .padding-right-10 {
      /* padding-right: 0px; */
      width: 100%;
   }

    /* Trang chi tiết phòng phần Ngân */
  .main-pic img {
      width: 400px;
      height: 500px;
   }

   .room-detail {
      flex-direction: column;
   }

   .sub-pic img {
      width: 100px;
      height: 100px;
      margin: 5px 20px;
   }
}

/* Smaller */
@media (max-width: 29.125em) {
   .header-info-left {
      justify-content: center;
   }

   .header__navbar {
      padding-left: 10px !important;
      padding-right: 10px !important;
   }
  
   .nav-item-icon,
   .mobile-bar {
      padding: 0 8px;
   }

   .slider-slogan {
      padding: 26px !important;
      bottom: 36% !important;
   }

   .support-location-content {
      padding: 0 !important;
   }

   .support-location-img-right {
      margin-top: 20px;
   }
   
   .content-title {
      font-size: 3.2rem;
   }

   .room-card .room-type, 
   .room-card .room-price {
      font-size: 2rem;
   }

   /* Trang chi tiết phòng phần Ngân */
   .main-pic img {
      width: 350px;
      height: 450px;
   }

   .feedback-all {
      flex-direction: column;
      align-items: center;
   }

   .feedback-all .wrap{
      width: 300px;
   }

   .form-textarea{
      max-width: 100%;
   }

   /* chi tiet dat phong Ngan */
   .booking-room-pic img {
      width: 250px;
      height: 300px;   
   }  

   .room-detail-description-name {
      font-size: 1.6rem;
   }
   .room-detail-description-price {
      font-size: 1.6rem;
   }
   .room-detail-description-content {
      font-size: 1.4rem;
   }
   .room-detail-description-note {
      font-size: 1.2rem;
   }

   /* .price-room {
      position: relative;
   }
   
   .price-room i{
      position: absolute;
      top: 13px;
      left: 88px;
   } */
}

}