<div class="main">
         <div class="header">
            <div class="menu-mobile">
               <label for="nav-mobile-input">
                  <i class="fa-solid fa-bars"></i>
               </label>
            </div>

            <div class="user-avatar">
               <div class="user-img-container">
                  <img src="https://demo.dashboardpack.com/cryptocurrency-html/img/transfer/4.png" alt=""
                     class="user-img">
               </div>
               <div class="user-info">
                  <p class="user-name">User Name</p>
                  <p class="user-role">User Role</p>
               </div>

               <div class="user-function">
                  <a href="" class="function-item">Log Out</a>
               </div>
            </div>
         </div>

         <div class="content">
            <div class="grid">
               <p class="page-title">Tạo khuyến mãi mới</p>
               <div class="table-list-container">
                        <form method="POST" action="/promotion" >
                     <div class="row">
                        <div class="col l-6 m-6 c-12">
                           <label for="room-number" class="form-label">Mã khuyến mãi</label>
                           <input id="room-number" type="text" class="form-input" placeholder="KM001" name="MaKM">
                        </div>

                        <div class="col l-6 m-6 c-12">
                           <label for="room-name" class="form-label">Giá khuyến mãi</label>
                           <input id="room-name" type="text" class="form-input" placeholder="500000 VNĐ" name="GiaKM">
                        </div>
                     </div>

                     <div class="row">
                        <div class="col l-6 m-6 c-12">
                           <label for="room-img" class="form-label">Ngày áp dụng</label>
                           <input id="room-img" type="datetime-local" class="form-input" placeholder="03/04/2022" name="NgayApDung">
                        </div>

                        <div class="col l-6 m-6 c-12">
                           <label for="room-type" class="form-label">Ngày hết hạn</label>
                           <input id="room-type" type="datetime-local" class="form-input" placeholder="30/04/2022" name="NgayHetHan">
                        </div>
                     </div>

                     

                     <div class="row no-gutters">
                        <div class="col l-12 m-12 c-12">
                           <div class="col l-12 m-12 c-12">
                              <label class="form-label">Nội dung khuyến mãi</label>
                           </div>
                           <div class="col l-12 m-12 c-12">
                              <textarea id="" type="text" class="form-textarea" name="NoiDungKM"
                                 placeholder="Nhập miêu tả tại đây..."></textarea>
                           </div>
                        </div>
                     </div>

                     <div class="row no-gutters submit-btn-container">
                        <button class="status-btn submit-btn">Tạo khuyến mãi</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
    </div>
</div>