<!-- Start Footer -->
<footer class="footer-section">
    <div class="grid">
        <div class="footer__container">

            <!-- <div class="footer-logo">
                  <img src="https://demo-hotel-live.herokuapp.com/img/logo.jpg" alt="" class="logo">
               </div> -->

            <a class="logo-links" href="">
                <span class="logo logo-sec-color">Parallel Shine</span>
            </a>

            <div class="footer-content">
                <ul class="footer-info">
                    <li class="info-item">
                        <i class="info-icon fa-solid fa-location-dot"></i>
                        <p class="info-item-text">157 Sư Vạn Hạnh, quận 10, thành phố Hồ Chí Minh</p>
                    </li>

                    <li class="info-item">
                        <i class="info-icon fa-solid fa-phone"></i>
                        <p class="info-item-text">09010101010</p>
                    </li>

                    <li class="info-item">
                        <i class="info-icon fa-solid fa-envelope"></i>
                        <p class="info-item-text">hoi3contrau@gmail.com</p>
                    </li>
                </ul>


                <div class="footer-socials">
                    <p class="socials-title">Kết nối với chúng tôi:</p>
                    <div class="socials-list">
                        <a href="" class="social-item"><i class="fa-brands fa-facebook"></i></a>
                        <a href="" class="social-item"><i class="fa-brands fa-instagram"></i></a>
                        <a href="" class="social-item"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>

            <p class="copyright">

                Copyright ©2022 All rights reserved | This page is made with <i class="fa-solid fa-heart"></i>
                by KasLee
            </p>
        </div>
    </div>
</footer>
<!-- End Footer -->