<input hidden id="nav-mobile-input" class="nav-input" type="checkbox">
<label for="nav-mobile-input" class="nav-overlay"></label>

<nav class="sidebar">
    <a class="logo-links" href="">
        <div class="logo-container">
            <span class="logo logo-sec-color">Parallel Shine</span>
        </div>
    </a>

    <ul class="menu">
        <a href="/admin/bookingRoom" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách đặt phòng
            </li>
        </a>

        <a href="/admin/checkIn" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Tạo phiếu Check-in
            </li>
        </a>

        <a href="/admin/checkIn/list" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách Check-in
            </li>
        </a>


        <a href="/admin/bill" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách hóa đơn
            </li>
        </a>

        <a href="/admin/room" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách phòng
            </li>
        </a>

        <a href="/admin/statistic" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Thống kê doanh thu
            </li>
        </a>

        <a href="/admin/staff" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách nhân viên
            </li>
        </a>
        <a href="/service/list" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách dịch vụ
            </li>
        </a>
        <a href="/promotion/list" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách khuyến mãi
            </li>
        </a>
        <a href="/feedback/list" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách phản hồi
            </li>
        </a>
    </ul>
</nav>