<input hidden id="nav-mobile-input" class="nav-input" type="checkbox">
<label for="nav-mobile-input" class="nav-overlay"></label>

<nav class="sidebar">
    <a class="logo-links" href="">
        <div class="logo-container">
            <span class="logo logo-sec-color">Parallel Shine</span>
        </div>
    </a>

    <ul class="menu">
        <a href="/admin/bookingRoom" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách đặt phòng
            </li>
        </a>

        <a href="/admin/checkIn" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Check-in
            </li>
        </a>

        <a href="/admin/room" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách phòng
            </li>
        </a>
        <a href="/admin/staff" class="menu-item-link">
            <li class="menu-item">
                <i class="menu-icon fa-solid fa-cart-flatbed-suitcase"></i>
                Danh sách nhân viên
            </li>
        </a>
    </ul>
</nav>