<header class="header-container">
    <!-- Start header top -->
    <div class="header-top">
        <div class="header-top__container">

            <ul class="header-info-left">
                <li class="header-info-item">
                    <a href="" class="info-link">
                        <i class="info-link-icon fa-solid fa-phone"></i>
                        0866764751
                    </a>
                </li>
                <li class="header-info-item">
                    <a href="" class="info-link">
                        <i class="info-link-icon fa-solid fa-envelope"></i>
                        hoi3contrau@gmail.com
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- End header top -->
    <div id="header-bottom" class="header-bottom">
        <nav class="header__navbar">
            <a class="logo-links" href="">
                <span class="logo">Parallel Shine</span>
            </a>

            <ul id="header__list" class="header__list">
                <li class="header__nav-item">
                    <a href="http://localhost:3000" class="nav-item-link">TRANG CHỦ</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="nav-item-link">PHÒNG</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="nav-item-link">DỊCH VỤ</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="nav-item-link">KHÁM PHÁ</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="nav-item-link">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>

        <div class="header__nav-btn">
            <a class="nav-item-link" href="http://localhost:3000/login">
                <i class="nav-item-icon fa-solid fa-circle-user"></i>
            </a>

            <div id="close-sitebar-btn" class="mobile-bar" href="">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

    </div>


</header>