<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height1">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               Tận hưởng những phút giây thư giãn
            </span>

            <div class="slider-btn">
               <a class="btn btn--size-lg" href="">ĐẶT PHÒNG NGAY</a>
            </div>

         </div>
      </div>
   </div>
   <!-- End Slider -->

   <!-- Start support hotel area -->
   <div class="content-section">

      <div class="support-hotel-area">
         <div class="grid">
            <div class="row">
               <div class="col-4 s-col-none">
                  <div class="support-location-img-left">
                     <img class="location-img"
                        src="https://designlimitededition.com/wp-content/uploads/2019/07/A-Boutique-Hotel-In-Porto-Brings-You-The-Country%E2%80%99s-History-1.jpg"
                        alt="">
                  </div>
               </div>
               <div class="col-4 s-col-6 xs-col-full">
                  <div class="support-location-content">
                     <span class="content-title">
                        Luxury & Comfort Our services and wonders of Prague
                     </span>

                     <p class="content-text">
                        The concept and service of the best luxury hotels in Asturias in our sophisticated Urban
                        Double and Unique Junior Suite rooms, with the possibility of enjoying a furnished terrace
                        in
                        our Double Urban Loft and Unique Junior Loft Suite.
                     </p>

                  </div>
               </div>

               <div class="col-4 s-col-6 xs-col-full">
                  <div class="support-location-img-right">
                     <img class="location-img"
                        src="https://www.torel1884.com/media/torel-1884-imageLinkservices-content-block-bistro.jpg"
                        alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End support hotel area -->

      <div class="hot-room-area">
         <div class="grid">
            <div class="hot-room-desc">
               <span class="content-title">
                  Các phòng của Parallel Shine
               </span>

               <p class="content-text">
                  The concept and service of the best luxury <br>
                  hotels in Asturias in our sophisticated.
               </p>
            </div>


            <div class="room-list">
               <!-- Room item 1 -->
               <div class="room-card">
                  <div class="room-img-container">
                     <a href="" class="room-link">
                        <img
                           src="https://vnn-imgs-f.vgcloud.vn/2020/10/16/17/the-dark-future-of-hotels-on-golden-land-in-hanoi-600x400.jpg"
                           alt="room-img" class="room-img">
                     </a>
                  </div>

                  <div class="room-info">
                     <span class="room-type">Phòng Deluxe</span>
                     <p class="room-people">2 người lớn, 1 trẻ em</p>
                     <div class="room-value">
                        <span class="room-price">1,000,000</span>
                        <i class="fa-solid fa-dong-sign"></i>
                        <!-- <p class="room-price-per">per night</p> -->
                     </div>
                  </div>
               </div>

               <!-- Room item 1 -->
               <div class="room-card">
                  <div class="room-img-container">
                     <a href="" class="room-link">
                        <img src="https://stayflexi.com/ROOT.war/media/user_12404/GrandVelas.jpeg" alt="room-img"
                           class="room-img">
                     </a>
                  </div>

                  <div class="room-info">
                     <span class="room-type">Phòng Superior</span>
                     <p class="room-people">4 người lớn</p>
                     <div class="room-value">
                        <span class="room-price">1,500,000</span>
                        <i class="fa-solid fa-dong-sign"></i>
                        <!-- <p class="room-price-per">per night</p> -->
                     </div>
                  </div>
               </div>

               <!-- Room item 1 -->
               <div class="room-card">
                  <div class="room-img-container">
                     <a href="" class="room-link">
                        <img
                           src="https://www.gannett-cdn.com/presto/2020/05/18/USAT/9ae54ef7-217d-4877-a614-4760325f9a9b-Park-Hyatt-New-York-Manhattan-Sky-Suite-Master-Bedroom.jpg?width=2560"
                           alt="room-img" class="room-img">
                     </a>
                  </div>

                  <div class="room-info">
                     <span class="room-type">Phòng Suite</span>
                     <p class="room-people">2 người lớn, 1 trẻ em</p>
                     <div class="room-value">
                        <span class="room-price">2,000,000</span>
                        <i class="fa-solid fa-dong-sign"></i>
                        <!-- <p class="room-price-per">per night</p> -->
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>

      <div class="hot-service-area">
         <div class="grid">
            <div class="hot-service-desc">
               <span class="content-title">
                  Dịch vụ của Parallel Shine
               </span>

               <p class="content-text">
                  The concept and service of the best luxury <br>
                  hotels in Asturias in our sophisticated.
               </p>
            </div>


            <div class="service-list">
               <!-- Service item 1 -->
               <div class="service-img-container">
                  <a href="" class="service-link">
                     <img src="https://i.pinimg.com/564x/ad/da/ec/addaec7c4eecc20d3a4246964982e2b4.jpg"
                        alt="service-img" class="service-img">
                  </a>

                  <div class="hot-service-text">Bữa sáng</div>
               </div>

               <!-- Service item 2 -->
               <div class="service-img-container">
                  <a href="" class="service-link">
                     <img src="https://i.pinimg.com/564x/d8/d5/3d/d8d53d4d134a7213c47d5272037b1582.jpg"
                        alt="service-img" class="service-img">
                  </a>

                  <div class="hot-service-text">Quầy bar</div>
               </div>

               <!-- Service item 3 -->
               <div class="service-img-container">
                  <a href="" class="service-link">
                     <img src="https://i.pinimg.com/564x/64/91/f8/6491f82aba36fa6c2957508169e770f9.jpg"
                        alt="service-img" class="service-img">
                  </a>

                  <div class="hot-service-text">Giặt ủi</div>
               </div>

            </div>
         </div>
      </div>
   </div>
</main>

<!-- End main -->