<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height2">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               Đăng nhập
            </span>
         </div>
      </div>
   </div>
   <!-- End Slider -->

   <!-- Start content -->
   <div class="content-section">

      <div class="grid grid-sm">
         <div class="form-container">
            <form class="form" action="">

               <h3 class="form-heading">Đăng nhập nhân viên</h3>
               <p class="form-desc">Form đăng nhập dành cho nhân viên của Parallel Shine</p>

               <div class="form-group">
                  <label for="username" class="form-label">Tên đăng nhập</label>
                  <input id="username" type="text" class="form-input" placeholder="hoten@id">
                  <span class="form-msg">Vui lòng nhập trường này</span>
               </div>

               <div class="form-group">
                  <label for="password" class="form-label">Mật khẩu</label>
                  <input id="password" type="password" class="form-input" placeholder="matkhau123">
                  <span class="form-msg">Vui lòng nhập trường này</span>
               </div>

               <div class="login-btn">
                  <button class="btn-reverse btn--size-md btn--size-full">Đăng nhập</button>
               </div>

            </form>
         </div>
      </div>


   </div>

   <!-- End content -->
</main>
<!-- End main -->