 <!-- Start main -->
      <main class="main-section">
         <!-- Start Slider -->
         <div class="slider-area slider-height2">
            <div class="slider-slogan-container">
               <div class="slider-slogan">
                  <span class="slider-slogan-text">
                     Chi tiết phòng
                  </span>
               </div>
            </div>
         </div>

      <!-- Start Content -->

      <div class="content-section">
         <div class="content-container">
            <div class="grid">      
                <div class="room-detail">
                    <div class="room-detail-pic col-12">
                        <div class="main-pic">
                            <img src="https://i.pinimg.com/564x/af/15/29/af15290f3e346b822ef3e4cc55a8cf72.jpg" alt="">
                        </div>
                        <div class="sub-pic">
                            <img src="https://i.pinimg.com/564x/af/15/29/af15290f3e346b822ef3e4cc55a8cf72.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/af/15/29/af15290f3e346b822ef3e4cc55a8cf72.jpg" alt="">
                            <img src="https://i.pinimg.com/564x/af/15/29/af15290f3e346b822ef3e4cc55a8cf72.jpg" alt="">
                        </div>
                    </div>
                    <div class="booking-room col-12">
                         <div class="date-checkin">
                           <div class="input-with-icon-container col-12">                            
                                 <input class="search-bar-input" type="datetime-local" name="input-search"
                                    placeholder="Ngày nhận phòng">
                                    <i class="check-in-icon fa-solid fa-calendar"></i>                           
                           </div>
                        </div>
                        <div class="date-checkin">
                           <div class="input-with-icon-container col-12">
                              <input type="datetime-local" class="search-bar-input" placeholder="Ngày trả phòng">
                              <i class="check-in-icon fa-solid fa-calendar"></i>
                           </div>
                        </div>
                        
                        <div class="room-detail-btn">
                           <a class="btn btn--size-s--black" href="">ĐẶT PHÒNG NGAY</a>
                        </div>
                    </div>
                </div>
                <div class="room-detail-description">
                    <p class="room-detail-description-name">Phòng Standard</p>
                    <p class="room-detail-description-price">500.000VND</p>
                    <p class="room-detail-description-content">Phòng Standard được thiết kế tinh tế sang trọng nội thất đầy đủ tiện nghi hiện đại, cửa sổ kính rộng thoáng bao quát toàn cảnh thành phố mang đến cho bạn một không gian thanh bình và dễ chịu sẽ là sự lựa chọn cho những doanh nhân và khách du lịch.</p>
                    <p class="room-detail-description-note">Số người ở: 2 người</p>
                    <p class="room-detail-description-note">Số giường đôi: 1 chiếc </p>
                    <p class="room-detail-description-note">Tiện ích: Tivi, tủ lạnh, máy lạnh, wifi, nước suối,...</p>
                </div>
            </div>
         </div>

      </div>

      <!-- End Content -->

      </main>
      <!-- End main -->
      {{!-- Script chọn ngày giờ--}}
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>