 <!-- Start main -->
        <main class="main-section">
         <!-- Start Slider -->
         <div class="slider-area slider-height2">
            <div class="slider-slogan-container">
               <div class="slider-slogan">
                  <span class="slider-slogan-text">
                     DỊCH VỤ CỦA CHÚNG TÔI
                  </span>
               </div>
            </div>
         </div>
         <!-- End Slider -->

      <!-- Start Content -->
      <div class="content-section">
         <div class="grid">
            <div class="row service__list-option">
               <ul class="service__list">
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#spa">
                        <figure>
                           <img src="https://i.pinimg.com/564x/b6/3c/0e/b63c0e60b211585f59856cd8b0e90524.jpg" alt="spa">
                        </figure>
                     </a>
                     <p class="service__list_name">Spa</p>
                  </li>
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#Bar">
                        <figure>
                           <img src="https://i.pinimg.com/236x/7a/0c/37/7a0c370d522ba51cba0805b679743cbc.jpg" alt="Bar">
                        </figure>
                     </a>
                     <p class="service__list_name">Bar</p>
                  </li>
                  <li class="service__list-item">
                     <a class="service__list-img-link" href="#Restaurant">
                        <figure>
                           <img src="https://i.pinimg.com/236x/18/29/9a/18299af36fb9eeacc0258db78e06ba59.jpg" alt="spa">
                        </figure>
                     </a>
                     <p class="service__list_name">Nhà hàng</p>
                  </li>
               </ul>
            </div>
         <div class="row service__item-list">
            <div class="service__item" id="spa">
               <div class="service__item-image">
                  <img src="https://i.pinimg.com/564x/b6/3c/0e/b63c0e60b211585f59856cd8b0e90524.jpg" alt="spa">
               </div>
               <div class="service__item-details">
                  <p class="service__item-name">Spa</p>
                  <p class="service__item-desc">"   Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong phú Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong phú."</p>
               </div>
            </div> 
            <div class="service__item-reverse" id="Bar">
               <div class="service__item-image-reverse">
                  <img src="https://i.pinimg.com/564x/01/56/1c/01561cd218a2129c9d8a840675222d0d.jpg" alt="bar">
               </div>
               <div class="service__item-details-reverse">
                  <p class="service__item-name">Bar</p>
                  <p class="service__item-desc">"   Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong phú Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong phú."</p>
               </div>
            </div>
            <div class="service__item" id="Restaurant">
               <div class="service__item-image">
                  <img src="https://i.pinimg.com/564x/9e/aa/90/9eaa909a66383d6a31876155ae65eae7.jpg" alt="restaurant">
               </div>
               <div class="service__item-details">
                  <p class="service__item-name">Nhà hàng</p>
                  <p class="service__item-desc">"   Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong phú Nhà hàng Trúc sở hữu tầm nhìn tuyệt đẹp bao quát toàn thành phố Hồ Chí Minh xinh đẹp, mộng mơ. Chuyến phiêu lưu vị giác của bạn tại đây sẽ bắt đầu bằng bữa sáng tự chọn phong phú."</p>
               </div>
            </div>
         </div>   
         </div>
      </div>
      <!-- End Content -->