<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Font style links -->
   <link rel="stylesheet" href="/css/fontawesome-free-6.0.0-web/css/all.css">
   <!-- Custom css -->
   <link rel="stylesheet" href="/css/base.css">
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/grid.css">
   <link rel="stylesheet" href="/css/admin.css">
   <link rel="stylesheet" href="/css/ngan.css">
   <link rel="stylesheet" href="/css/admin-responsive.css">

   <!-- Favicon -->
   <link rel="shortcut icon" href="/favicon/apple-touch-icon.png" type="image/x-icon">
   <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">

   <!-- Google fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


   <title>Admin</title>
</head>

<body>
   <div class="app">
      {{>headerAdmin}}
      {{{body}}}
   </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{{!-- <script>
   config = {
      dateFormat: "d-m-Y",
      minDate: "today",
   }
   flatpickr("input[type=datetime-local]", config);
</script> --}}

<script>
   var checkoutDate = document.querySelector('[data-toggle="endDateFilter"]').flatpickr(
   {
      altInput: true,
      altFormat: "d-m-Y",
      minDate: 10-10-2000,
   }
 );
 

var checkinDate = document.querySelector('[data-toggle="startDateFilter"]').flatpickr(
   {
      altInput: true,
      altFormat: "d-m-Y",
      minDate: 10-10-2000,
     }
 );
</script>

{{!-- jquery --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/statistic.js"></script>
<script src="/js/date.js"></script>
<script src="/js/filter.js"></script>
<script src="/js/filterAdmin.js"></script>

</html>