<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height1">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               Tận hưởng những phút giây thư giãn
            </span>
            <div class="slider-btn">
               <a class="btn btn--size-lg" href="/room">ĐẶT PHÒNG NGAY</a>
            </div>

         </div>
      </div>
   </div>
   <!-- End Slider -->

   <!-- Start support hotel area -->
   <div class="content-section">
      <div class="support-hotel-area">
         <div class="grid wide">
            <div class="row">
               <div class="col l-4 m-0 c-0">
                  <div class="support-location-img-left">
                     <img class="location-img"
                        src="https://designlimitededition.com/wp-content/uploads/2019/07/A-Boutique-Hotel-In-Porto-Brings-You-The-Country%E2%80%99s-History-1.jpg"
                        alt="">
                  </div>
               </div>
               <div class="col l-4 m-6 c-12">
                  <div class="support-location-content">
                     <span class="content-title">
                        Trải nghiệm cùng PARALLELSHINE
                     </span>

                     <p class="content-text">                 
                     Đối diện với sông Sài Gòn thơ mộng và chỉ 5 phút đi bộ đến Nhà hát Lớn nổi tiếng, trung tâm thành phố để mua sắm, ăn uống và giải trí, ParallelShine, một trong những khách sạn 5 sao tốt nhất tại Thành phố Hồ Chí Minh, kết hợp giữa vẻ đẹp tự nhiên và sự sang trọng tuyệt đối để cung cấp tốt nhất cho bất kỳ khách.
                     </p>

                  </div>
               </div>

               <div class="col l-4 m-6 c-12">
                  <div class="support-location-img-right">
                     <img class="location-img"
                        src="https://www.torel1884.com/media/torel-1884-imageLinkservices-content-block-bistro.jpg"
                        alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End support hotel area -->

      <div class="hot-room-area">
         <div class="grid wide">
            <div class="hot-room-desc">
               <span class="content-title">
                  Các phòng của Parallel Shine
               </span>

               <p style="margin-bottom: 20px;" class="content-text">
                  Từng loại phòng tại ParallelShine sẽ mang đến cho khách hàng những trải nghiệm mới mẻ.<br> 
                  Cùng trải nghiệm ngay nào !
               </p>
            </div>
            <div class="row">
               <div class="col l-4 m-12 c-12">
                  <a href="/room/62342c5301543609ded90599" class="room-link">
                     <div class="room-card">

                        <div class="room-img-container"
                           style="background-image:url(https://cdn.loewshotels.com/loewshotels.com-2466770763/cms/cache/v2/5f5a6e0d12749.jpg/1920x1080/fit/80/86e685af18659ee9ecca35c465603812.jpg);">
                        </div>

                        <div class="room-info">
                           <span class="room-type">Phòng Deluxe - Double</span>
                           <p class="room-people">4 người</p>
                           <div class="room-value">
                              <span class="room-price">1,240,000</span>
                              <i class="fa-solid fa-dong-sign"></i>
                              <!-- <p class="room-price-per">per night</p> -->
                           </div>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="col l-4 m-12 c-12">
                  <a href="/room/62342d0f01543609ded9059d" class="room-link">
                     <div class="room-card">
                        <div class="room-img-container"
                           style="background-image:url(https://www.elliotparkhotel.com/wp-content/uploads/2018/05/double-queen-eph-01-1440x973.jpg);">
                        </div>

                        <div class="room-info">
                           <span class="room-type">Phòng Double - Standard </span>
                           <p class="room-people">4 người</p>
                           <div class="room-value">
                              <span class="room-price">680,000</span>
                              <i class="fa-solid fa-dong-sign"></i>
                              <!-- <p class="room-price-per">per night</p> -->
                           </div>
                        </div>
                     </div>
                  </a>
               </div>

               <div class="col l-4 m-12 c-12">
                  <a href="/room/622a02c524dfdcabdc2f99a4" class="room-link">
                     <div class="room-card">
                        <div class="room-img-container"
                           style="background-image:url(https://i.pinimg.com/736x/a7/ee/8d/a7ee8dbcbbed9a8bec7240a262f03b3d.jpg);">
                        </div>

                        <div class="room-info">
                           <span class="room-type">Phòng Single - Standard</span>
                           <p class="room-people">2 người</p>
                           <div class="room-value">
                              <span class="room-price">580,000</span>
                              <i class="fa-solid fa-dong-sign"></i>
                              <!-- <p class="room-price-per">per night</p> -->
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>

      <div class="hot-service-area">
         <div class="grid wide">
            <div class="hot-service-desc">
               <span class="content-title">
                  Dịch vụ của Parallel Shine
               </span>

               <p class="content-text">
                  The concept and service of the best luxury <br>
                  hotels in Asturias in our sophisticated.
               </p>
            </div>
            <div class="service-list">
               <div class="row">
                  <div class="col l-4 m-12 c-12">
                     <a href="/service/#spa">
                        <div class="service-img-container"
                           style="background-image: url(https://i.pinimg.com/564x/0e/f7/66/0ef766dc8291d6ac12cc64f8f54c90c9.jpg);">
                           <div class="hot-service-text">Spa</div>
                        </div>
                     </a>
                  </div>

                  <div class="col l-4 m-12 c-12">
                     <a href="/service/#giatui">
                        <div class="service-img-container"
                           style="background-image: url(https://i.pinimg.com/564x/d5/56/8f/d5568f3bcc76c7a22f09d254d971b312.jpg);">
                           <div class="hot-service-text">Giặt ủi</div>
                        </div>
                     </a>
                  </div>



                  <div class="col l-4 m-12 c-12">
                     <a href="/service/#restaurant">
                        <div class="service-img-container"
                           style="background-image: url(https://i.pinimg.com/564x/2b/eb/c9/2bebc9a95e2a4bbe4dc54e7da03ea98d.jpg);">
                           <div class="hot-service-text">Nhà hàng</div>
                        </div>
                     </a>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</main>

<!-- End main -->